html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h2, a {
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  font-size: 3rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn {
  background-color: #333;
  color: #fff;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.banner {
  position: relative;
  max-height: 500px;
}

/* Add overflow: hidden; above*/

h2 {
  position: absolute;
}

p {
  position: absolute;
}

a {
  position: absolute;
}

.icon {
  float: left;
  margin: 0;
}
